@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:ital,wght@0,300;0,500;0,600;1,100;1,400;1,700&display=swap');
*{
margin: 0%;
padding: 0;
box-sizing: border-box;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     box-shadow: #111010;
    
  }
  
  .signup-container {

    width: 400px;
    margin: 50px auto;
    padding: 30px 40px;
    background: transparent;
    box-shadow: 0 0 10px rgba(255,255,255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    color: aliceblue;
    
  }
  .signup-container h1{
    text-align: center;
    font-size: 36px;
  }
  .signup-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .signup-form input {
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #111010;
    border-radius: 40px;
    background: transparent;
    font-size: 10px;
    color: rgb(188, 178, 178);

  }
  .signup-form input::placeholder{
    color: #807e91;
  }
  
  .signup-form button {
    width: 100%;
    height: 45px;
    background-color: #1612d2;
    color:white;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14.5px;
    box-shadow:0 0 10px #111010;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .signup-form button:hover {
    background-color:rgb(45, 209, 23);
  }