@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:ital,wght@0,300;0,500;0,600;1,100;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
      
      
     
      
}
.wrapper{
    width: 420px;
    background:transparent;
    border: 2px solid rgb(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(47, 32, 47);
    color:white;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
    
.wrapper .inputbox{
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}
.wrapper .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}
 .inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 44px 20px 20px;
}
.inputbox input::placeholder{
    color: white;

}
.inputbox i{
   position: absolute;
    color: rgb(15, 1, 1);
    right: 20px;
    top: 90%;
    transform: translateY(-50%);
    font-size: 20px;
    
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: white;
    margin-right: 3px;
}
.remember a{
    color: white;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;

}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgb(35, 12, 211);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: rgb(35, 25, 25);
    font-weight: 600;
}
.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register p a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;

}