
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.nav-links a:hover {
    color: #f7c300; 
}
.logo img {
    width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}


.background-image {
    background-image: url('Images/pic3.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    height: 800px; 
    
}



footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.footer-content {
    font-size: 14px;
}


.footer-content p:last-child {
    margin-top: 5px;
}
h1{
    text-align: center;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}
